/** {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #363636;
}*/

.details a {
  color: black;
}
/*.product-image {
  width: 100%;
  background-color: blue;
}*/

.main-info .product-image img {
  
  width: 100%;
}
.main-info {
  width: 100%;
    border: 1px solid red;
    margin-bottom: 20px;
    margin-top: 10px;
    background: #E9D6C5;
    padding: 6px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(21,180,255,0.5);
    box-shadow: 0 1px 1px 0 rgba(21,180,255,0.5);
}
.main-info .product-image {
    background-color: transparent;
    display: block;
    width: 100%;

    /*min-height: 238px;*/
    overflow: hidden;
    position: relative;
    border: 5px solid /*#CEEFFF*/red;
    padding-top: 40px;

}

.main-info .details {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative;
    background: #fff
}

.filter-gallery {
  width: 100%;
}
.filter-gallery .filter {
  list-style: none;
  padding: 10px 15px;
  margin: 0;
}
.filter-gallery .filter li {
  display: inline-block;
}
.filter-gallery .filter li button {
  cursor: pointer;
  background: #2d3042;
  border-width: 1px;
  border-color: #fff;
  border-radius: 15px;
  padding: 4px 15px;
  color: #fff;
  font-size: 13px;
  outline: none;
}
.filter-gallery .filter li.active button {
  background-color: #2d3042;
  color: #fff;
}
.filter-gallery .gallery {
  width: 100%;

  padding: 10px;
  float: right;
  transition: all 0.7s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0;
}
.filter-gallery .gallery li {
  width: 20%;
  float: left;
  padding: 5px;
  list-style: none;
  transition: all 0.7s ease;
}
@media screen and (max-width: 1024px) {
  .filter-gallery .gallery li {
    width: 33.33%;
  }
}
@media screen and (max-width: 320px) {
  .filter-gallery .gallery li {
    width: 50%;
  }
}
.filter-gallery .gallery li a {
  display: block;
  width: 100%;
}
.filter-gallery .gallery li a img {
  width: 100%;
  height: 185px;
  /*object-fit: cover;*/
}
@media screen and (max-width: 480px) {
  .filter-gallery .gallery li a img {
    height: 100px;
  }
}
.filter-gallery .gallery li.shown {
  transform: scale(1);
  opacity: 1;
}
.filter-gallery .gallery li.hidden {
  transform: scale(0.3);
  opacity: 0;
  width: 0px;
  height: 0px;
  padding: 0;
}
.filter-gallery .gallery .gallery-single {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: #fff;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
  display: flex;
  flex-direction: column;
  background: #363636;
  z-index: 1;
  padding: 10px;
}
.filter-gallery .gallery .gallery-single .gallery-single-inner {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.filter-gallery .gallery .gallery-single .gallery-single-inner #btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  z-index: 1;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 0;
  color: #fff;
}
.filter-gallery .gallery .gallery-single .gallery-single-inner img {
  max-width: 100%;
  height: 330px;
  object-fit: cover;
}
@media screen and (max-width: 480px) {
  .filter-gallery .gallery .gallery-single .gallery-single-inner img {
    height: 195px;
  }
}
.filter-gallery .gallery .gallery-single .gallery-single-inner h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.filter-gallery .gallery .gallery-single .gallery-single-inner p {
  font-size: 16px;
  font-family: Arial;
  line-height: 1.4;
  margin-bottom: 10px;
}
.filter-gallery .gallery.shown .gallery-single {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.7s ease;
}

#page-title {
  padding: 10px;
  font-size: 36px;
  color: #eee;
}


.start-button {
  color: #eee;
  background-color: #4485F3;
  width: 75px;
  height: 40px;
  margin: 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 1px 1px #111;
}

form {
  width: 100%;
}
form .like-button {
  width: 75px;
  height: 40px;
  background-color: #eee;
  margin: 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 1px 1px #111;
}

#reset-div #reset-button {
  width: 75px;
  height: 40px;
  background-color: #4485F3;
  text-align: center;
  margin: 30px;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 12px;
  box-shadow: 1px 1px #111;
}